@import "../../app.variables.styl";
@import "./catalog.variables.styl";

.catalog
	padding-top 8px
	position relative
	min-height "calc(100% - %s)" % navbarDefaultHeight
	width 100%
	max-width defaultPageMaxWidth
	margin 0 auto
	display flex
	flex-wrap wrap
	box-sizing border-box
	&__item
		width itemDefaultWidth
		flex-basis itemDefaultWidth
		flex-grow 0
		flex-shrink 0
		padding 0.8em
		box-sizing border-box
		@media screen and (min-width: 768px) and (max-width:992px)
			width 33.3333%
			flex-basis 33.3333%
		@media screen and (min-width: 320px) and (max-width: 767px)
			width 50%
			flex-basis 50%
