defaultPageMaxWidth=1200px;
defaultTextColor= #2e2e2e;
defaultElementTransitionTimer=0.3s
headerDefaultTextColor=#FFF;
headBgDefaultColor=#1acdb7
headBgDefaultColorDark=darken(headBgDefaultColor, 20%)
navbarDefaultHeight=50px;
maxPageWidth=1200px;