defaultPageMaxWidth=1200px;
defaultTextColor= #2e2e2e;
defaultElementTransitionTimer=0.3s
headerDefaultTextColor=#FFF;
navbarBgDefaultColor=#1acdb7
navbarBgDefaultColorDark=darken(navbarBgDefaultColor, 20%)
navbarDefaultHeight=50px;
maxPageWidth=1200px;