defaultBlockShadow=0 1px 4px 0 rgba(117,117,117,.5)
defaultPageMaxWidth=1200px;
defaultTextColor= #2e2e2e;
defaultElementTransitionTimer=0.2s
headerDefaultTextColor=#FFF;
headBgDefaultColor=#1acdb7
headBgDefaultColorDark=darken(headBgDefaultColor, 20%)
navbarDefaultHeight=50px;
maxPageWidth=1200px;
defaultBlocBorderRadius=2px;