#carousel	
	padding 0
	.carousel-item
		width 100%			
		position relative
		height 400px
	.carousel-controls-wrapper
		width 100%
		overflow auto
	.carousel-controls-container
		margin 5px auto 0
		.carousel-controls
			width 155px				
			display inline-block
			height 100px
			position relative
	img
		centerImg()