#carousel
	padding 0
	.carousel-item
		width 100%
		position relative
		height 400px
	.carousel-controls-wrapper
		width 100%
		overflow auto
	.carousel-controls-container
		margin 15px auto 0
		.carousel-controls
			width 155px
			display inline-block
			height 100px
			position relative
	img
		centerImg()

.fade-img.ng-enter
	animation 2s appear

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
} 