.slide-show
	border 1px solid red
	background #FFF
	position relative
	max-height 400px
	min-height 300px
	disply flex
	flex-direction column
	justify-content center
	align-items center
	&__main-image
		position relative
		width 80%
		margin 0 auto
		display table
		min-height 400px
		.image-wrapper
			position absolute
			top 40%
			left 50%
			width 100%
			opacity 0
			transition opacity 500ms
			&.slide-show__active-image
				opacity 1
			> img
				width 100%
				position absolute
				top 0
				left 0
				margin-left -50%
				margin-top -50%


	&__thumbnails-viewport
		width 100%
		overflow hidden
		position absolute
		bottom 0

	&__controll
		width 10%
		color #FFF
		height 70%
		position absolute
		display flex
		justify-content center
		flex-direction column
		cursor pointer
		> span
			width 100%
			text-align center
			font-size 1.5em
			^[0]:hover &
				color rgba(0,0,0,.3)

		&_show-next
			top 0
			right 0
		&_show-previous
			top 0
			left 0
	&__thumbnails
		display flex
		height 80px
		align-items center
		justify-content center
	&__thumbnail
		cursor pointer
		flex 0 0 20%
		opacity 0.5
		height 90%
		transition opacity 600ms
		&:hover
			opacity 1
		&_selected
			opacity 1
		>img
			width 100%
