@import "../../../app.variables.styl";
//navbarBgDefaultColor
.navbar
	background navbarBgDefaultColor
	height navbarDefaultHeight
	box-shadow 1px 2px 0 0 navbarBgDefaultColorDark
	position relative
	z-index 2
	width 100%
	&__menu
		list-style none
		display flex
		-webkit-display flex
		height 100%
		width 100%
		max-width maxPageWidth
		margin 0 auto
		&_item
			flex-basis 10%
			-webkit-display flex
			display flex
			&:hover
				background navbarBgDefaultColorDark
				transition background 0.5s, color 0.5s
			> a
				text-decoration none
				height calc(100% + 1px)
				width 100%
				display inline-block
				color headerDefaultTextColor
				> span
					line-height navbarDefaultHeight
					text-align center
					width 100%
					display block
					height 100%
