.frontpage-wrapper
	background-image: url("/img/frontpage.jpg");
	background-repeat: no-repeat;
	background-clip: border-box;
	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	background-attachment: fixed;
	background-size: 100%;