nav-font = 14px
navFontColor = #aaa

.navbar
	position fixed
	right 0
	border none
	padding 15px 0
	z-index 101
	margin 0
	width 100%
	transition(all .5s)
	.navbar-list
		float right
		border-bottom 3px solid redColor
		padding-left 0
		margin-right 30px
		padding-bottom 8px
		margin-bottom 0
		transition(all .5s)
	li
		display inline-block
		float right
		margin-right 15px
		padding-top 10px
		&:first-child
			margin-right 0
		a
			display block
			position relative
			text-decoration none
			padding 0 20px
			cursor pointer
			font-size nav-font
			font-weight bold
			color navFontColor
			&:hover
				color redColor
			&:hover:after
				width 100%
			&:after
				position absolute
				bottom 10px
				left 0
				right 0
				margin auto
				width 0%
				content '.'
				color transparent
				background redColor
				height 3px
				transition(all .5s)
			&:before
				transition(all .5s)
			&.active
				color redColor
			&.active:after
				width 100%
			&:hover,
			&.active
				.price
					color redColor
				.basket-icon
					background url("/img/icons/basket-hover.png") no-repeat
					background-size 100%
		span
			float right
		.basket-icon
			margin -4px 10px 0 10px
		.price
			font-weight bold
			color navFontColor
			font-size nav-font
		div
			float right

.navbar.scrolledNav
	background rgba(28, 28, 28, 0.8)
	.navbar-list
		padding-bottom 0
		border 0
	a.active,
	a:hover
		color white
	a:after
		background white
	a:hover,
	a.active
		.price
			color white
		.basket-icon
			background url("/img/icons/basket-white.png") no-repeat
			background-size 100%
	a,
	.price
		color white
	.basket-icon
		background url("/img/icons/basket-white.png") no-repeat
		background-size 100%

.basket-icon
	background url("/img/icons/basket.png") no-repeat
	background-size 100%
	width 30px
	height 30px
				