nav-font = 18px
bgColor = #332F3E
activeColor = #424B5C
.navbar
	background bgColor
	color #FFF
	min-height 30px	
	border none
	padding 21px 0 11px 40px
	font-size nav-font
	.navbarList 
		float left
	.totalPrice 
		float right
		margin-right 100px
		font-size 17px
	li
		display inline-block		
		a
			text-decoration none
			color white
			padding 24px			
			cursor pointer
			border-right 1px solid
		.active
			background activeColor