/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$navbar-inverse-link-color = #5AADBB
$icon-font-path = "../../../client/bower_components/bootstrap-stylus/fonts/"

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px

input:focus,
textarea:focus
  outline none
.closeIcon
  color #4A0015
  font-size 24px
  height 27px
  padding 3px
  line-height 15px;
  opacity 0.8
  cursor pointer
.closeIcon:hover
  opacity 1
*
  font-family 'Metrophobic', Arial, serif
  font-weight 400
  
    

fontColor = #333
link() 
  color fontColor
  text-decoration none

btnColor = #65001D
blueBtnColor = #0B6EB3
blueLight = #84BCDF

border-radius(x)
  border-radius x
  -webkit-border-radius x
  -moz-border-radius x

transition(x)
  -moz-transition x
  -o-transition x
  -webkit-transition x
  transition x


.btn
  padding 5px 20px   
  text-align center
  font-weight bold
  text-transform upperCase
  border-radius(0px)
  color white  
  display block
.btn.active,
.btn:active
  box-shadow none

.btn.addItem 
  float right
  background btnColor 

a 
  link()
  &:hover 
    link()
  &:focus
    link()

.container-fluid 
  padding 0 25px

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector



