.form-container 
	position relative
.commentForm-wrapper
	padding 20px 30px
	border 4px solid rgba(244,145,30, 0.3)
	border-radius(3px)
	margin-bottom 20px
	position absolute
	width 100%
	top 0
	background white
	visibility hidden
	opacity 0
	transition(opacity .3s,visibility .3s)

	.title
		margin-bottom 20px
		span
			font-weight bold
			font-size 18px	
	.closeIcon
		float right
	input, textarea
		border none
		background rgba(244,145,30, 0.3)
		padding 10px
		border-radius(0px)
		width 100%
		margin-bottom 15px
	textarea
		resize none
		height 150px
	.comment-label
		margin-bottom 5px	
	.addComment
		background yellowColor
		color white		
		width 100%
		padding 10px
.commentForm-wrapper.active
	visibility visible
	opacity 1
	z-index 2

.description
	p
		margin-bottom 20px
	p:last-child
		margin-bottom 0
.btn.openCommentForm
	border 2px solid yellowColor
	color yellowColor
	width 300px
	padding 10px
	margin 20px auto
	
.btn.openCommentForm.active,
.btn.openCommentForm:hover
	color white
	background yellowColor