<div class="details content_wrapper">
    <div class="details__section">
        <div class="details__slide-show">
            <slideshow [images]="item.images"></slideshow>
        </div>
        <div class="details__specification">
            <div class="details__header">
                <h2>{{item.name}}</h2>
                <h2 class="price">{{item.price}}</h2>
            </div>
            <div class="details__tabs">
                <tabs [data]="tabsModel"></tabs>
            </div>
            <div class="details__footer">
                <div class="lt_btn">
                    <button class="btn btn_add">Add</button>
                </div>
            </div>
        </div>
    </div>

</div>
