.basket-container
	padding 0 20px
	.row
		margin 0
	.basket-item
		width 100%
		float left
		height 100px
		margin-bottom 20px
		border-top: 1px solid #ebebeb
		padding 15px 0 0
		&:first-child
			border none
		.basket-item-img
			position relative
			height 100px
			img
				centerImg()
		.basket-item-name
			color redColor
			font-weight bold
			text-transfrom uppercase
			margin-bottom 10px
			
			