Hello world
<div class="slideshow">
    <div class="slideshow__main-img" >
        <img src="{{img}}" alt=""
             ng-repeat="img in $ctrl.images"
             ng-class="{'slideshow__main-img_active': $ctrl.activeImg === img}">
    </div>
    {{$ctrl.activeImg}}
    <div class="slideshow__thumbnails">
        <div class="slideshow__thumbnail" ng-repeat="img in $ctrl.images"
             ng-click="$ctrl.changeImg(img)">
            <img src="{{img}}" alt="">
        </div>
    </div>
</div>